/*-------------------------------------------------------------------------------
  REM w/Fallback Font Sizing
  /* usage: @include font-size(15) for 15px / 1.5em / 1.5rem */
  /* must be used with html font-size: 62.5%; /* Sets up the Base 10 stuff */
/*-------------------------------------------------------------------------------*/
@mixin fontsize($sizeValue: 1.6, $line: $sizeValue * 1.5){
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}


/*-------------------------------------------------------------------------------
	Rotate Mixin
-------------------------------------------------------------------------------*/
@mixin rotate($deg: 90){
  $sDeg: #{$deg}deg;
  -webkit-transform: rotate($sDeg);
  -moz-transform: rotate($sDeg);
  -ms-transform: rotate($sDeg);
  -o-transform: rotate($sDeg);
  transform: rotate($sDeg);
}


/*-------------------------------------------------------------------------------
  Mixin To Hide
-------------------------------------------------------------------------------*/
@mixin visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/*-------------------------------------------------------------------------------
  Mixin To Make Visible
-------------------------------------------------------------------------------*/
@mixin visuallyvisible {
  position: relative;
  overflow: visible;
  clip: inherit;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}


/*-------------------------------------------------------------------------------
  Mixin For Basic Button Style
-------------------------------------------------------------------------------*/
@mixin button-style($first-bg: #c82026, $hover-bg: #ac181b, $border-radius: 5px, $border-size: 0, $color: #fff,  $font-size: 16px, $padding: 18px 25px, $text-transform: none, $font-weight: normal, $letter-spacing: 0px) {
  -o-transition: color 0.3s, background-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  background: $first-bg;
  color: $color;
  border-radius: $border-radius;
  border: $border-size;
  padding: $padding;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 100%;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;

  &:hover {
    background: $hover-bg;
  }

  &:active {
    outline: none;
  }
}

/* Gradient Button Style */
@mixin gradient-buttonstyle($first-bg: #a6cf5d, $second-bg: #79b455, $border-radius: 5px, $color: #fff,  $font-size: 16px, $padding: 5px 15px, $text-transform: uppercase) {
	background: $first-bg;
	background-image: -webkit-linear-gradient(top, $first-bg, $second-bg);
	background-image: -moz-linear-gradient(top, $first-bg, $second-bg);
	background-image: -ms-linear-gradient(top, $first-bg, $second-bg);
	background-image: -o-linear-gradient(top, $first-bg, $second-bg);
	background-image: linear-gradient(to bottom, $first-bg, $second-bg);
	border-radius: $border-radius;
	text-shadow: 1px 1px 3px #666666;
	color: $color;
	font-size: $font-size;
	padding: $padding;
	text-decoration: none;
	text-transform: $text-transform;

	&:hover {
		background: $second-bg;
		text-decoration: none;
	}
}


/*-------------------------------------------------------------------------------
  Mixin for simpler inline-block
-------------------------------------------------------------------------------*/
@mixin inlineblock {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline
}

@mixin inlineblockie7 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}


/*-------------------------------------------------------------------------------
  Mixin for cross browser opacity
-------------------------------------------------------------------------------*/
@mixin opacity($opacity) {
  opacity: $opacity; // Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+
  filter: alpha(opacity=$opacity * 100); // IE6-IE8
}


/*-------------------------------------------------------------------------------
  Mixin for selection markup
-------------------------------------------------------------------------------*/
@mixin selection($background, $color, $element:false) {
  @if($element) {
    &::-moz-selection{ background:$background; color:$color; text-shadow:none; }
    &::selection { background:$background; color:$color; text-shadow:none; }
  } @else {
    ::-moz-selection{ background:$background; color:$color; text-shadow:none; }
    ::selection { background:$background; color:$color; text-shadow:none; }
  }
}

/*-------------------------------------------------------------------------------
  Mixin for reset list
-------------------------------------------------------------------------------*/
@mixin resetlist {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*-------------------------------------------------------------------------------
  Mixin for placeholder styling
-------------------------------------------------------------------------------*/
@mixin placeHolder($color) {
  &::-webkit-input-placeholder { color:$color; }
  &:-moz-placeholder { color:$color; }
}


/*-------------------------------------------------------------------------------
  Webkit-style focus
-------------------------------------------------------------------------------*/
@mixin tabfocus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


/*-------------------------------------------------------------------------------
  Center-align a block level element
-------------------------------------------------------------------------------*/
@mixin centerblock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*-------------------------------------------------------------------------------
  A Nice Box Emboss Effect
-------------------------------------------------------------------------------*/
@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}


/*-------------------------------------------------------------------------------
  A Nice Letterpress Effect
-------------------------------------------------------------------------------*/
@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}


/*-------------------------------------------------------------------------------
  Main Input Style
-------------------------------------------------------------------------------*/
@mixin inputstyle {
  border: 1px solid #D2D2D2;
  font-size: 13px;
  color: #747474;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 8px;
  outline-style: none;
}


/*-------------------------------------------------------------------------------*
  Scale down font on all screen sizes
-------------------------------------------------------------------------------*/
@mixin media_scale_down_font($initial_font_size) {
    @include transition(all .3s 0s ease);
    font-size:$initial_font_size;

    @include media (max-width $screen_size_wide) {
        font-size:$initial_font_size - ($initial_font_size * .06);
    }
    @include media (max-width $screen_size_normal) {
        font-size:$initial_font_size - ($initial_font_size * .12);
    }
    @include media (max-width $screen_size_tablet) {
        font-size:$initial_font_size - ($initial_font_size * .18);
    }
    @include media (max-width $screen_size_phone) {
        font-size:$initial_font_size - ($initial_font_size * .24);
    }
    @include media (max-width $screen_size_small) {
        font-size:$initial_font_size - ($initial_font_size * .30);
    }
}

@mixin media_scale_down_font_twenty() {
    @include transition(all .3s 0s ease);
    font-size:20px;

    @include media (max-width $screen_size_normal) {
        font-size:19px;
    }

    @include media (max-width $screen_size_tablet) {
        font-size:18px;
    }

    @include media (max-width $screen_size_tablet) {
        font-size:17px;
    }
}
