/*-------------------------------------------------------------------------------
	Variables
-------------------------------------------------------------------------------*/
/* Screen sizes */
$screen_size_wide: 1300px;
$screen_size_normal: 1280px;
$screen_size_tablet: 1024px;
$screen_size_phone: 767px;
$screen_size_small: 430px;


/*-------------------------------------------------------------------------------
	Partials
-------------------------------------------------------------------------------*/
@import "mixins";
@import "bourbon/bourbon";
@import "neat/neat";


/*-------------------------------------------------------------------------------
	Mobile First
-------------------------------------------------------------------------------*/
/* Phones */

// Small Phones
@include media (max-width $screen_size_small) {
	font-size: 37px;
	line-height: 38px;
	top: -45px;
}

// Med - Big Phones
@include media (min-width $screen_size_small max-width $screen_size_phone) {
	font-size: 40px;
	line-height: 42px;
	top: -45px;
}
			
// Common Phones
@include media (max-width $screen_size_phone) {
	position: relative;
}

/* Tablet */
@include media (min-width $screen_size_phone max-width $screen_size_tablet) {

}

@include media (min-width $screen_size_phone max-width $screen_size_tablet orientation portrait) {

}

@include media (min-width $screen_size_phone max-width $screen_size_tablet orientation landscape) {

}

/* Small Desktops */
@include media (max-width $screen_size_normal) {

}


/*-------------------------------------------------------------------------------
	General Styling
-------------------------------------------------------------------------------*/
#mk-theme-container {
	.ubtn-normal {
		text-transform: uppercase;
	}

	@include media (max-width $screen_size_phone) {

	}

	// Hover Effect
	.ult-modal-input-wrapper img,
	.mk-image-shortcode img {
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		@include opacity(1);

		&:hover {
			@include opacity(0.8);
		}
	}

	// Countdown Timer
	.mk-event-countdown-ul {
		li {
			@include media (max-width $screen_size_phone) {
				display: inline-block;
				padding: 0 4px;
				width: 23%;
			}

			.timestamp {
				@include media (max-width $screen_size_phone) {
					font-size: 36px;
					padding-bottom: 0;
				}
			}

			.timeRef {
				@include media (max-width $screen_size_phone) {
					font-size: 10px;
					letter-spacing: 0;
					padding-top: 0;
				}
			}
		}
  }

  /* Buttons */
  .mk-button {
  	border-radius: 1px;
  	font-weight: 500;
  	letter-spacing: 0;
		text-transform: uppercase;

		&.mk-button--dimension-outline.skin-dark,
		&.mk-button--dimension-savvy.skin-dark {
			border-color: #595b8b;
			color: #595b8b;

			&:hover {
				background-color: #595b8b;
				color: #fff;
			}
		}

  	&.mk-button--size-small {
			font-size: 14px;
			padding: 14px 24px;
  	}

		&.mk-button--size-medium {
			font-size: 16px;
			padding: 16px 26px;
		}

		&.mk-button--size-large {
			font-size: 18px;
			padding: 18px 28px;
		}

		&.mk-button--size-x-large {
			font-size: 20px;
			padding: 20px 30px;
		}

		&.mk-button--size-xx-large {
			font-size: 22px;
			padding: 22px 32px;
		}
  }
}

.btn-modal {
	&:active,
	&:focus {
		outline: none;
	}
}

/* Modals */
.ult-overlay {
	.ult_modal {
		@include media (max-width $screen_size_phone) {
			top: 45%;
			width: 90% !important;
		}
	}

	.ult_modal-content {
		@include media (max-width $screen_size_phone) {
			border-width: 10px !important;
		}
	}

	.ult_modal-body {
		@include media (max-width $screen_size_phone) {
			font-size: 15px !important;
			padding: 10px;
		}

		.gform_wrapper {
			.gfield {
				@include media (max-width $screen_size_phone) {
					padding-bottom: 0;
				}
			}

			.gform_title {
				@include media (max-width $screen_size_phone) {
					/*font-size: 0.8em;*/
				}
			}
	
			.gform_description {
				@include media (max-width $screen_size_phone) {
					/*font-size: 0.6em;*/
	    		line-height: 1.3em;
				}
			}

			.top_label .gfield_label {
				@include media (max-width $screen_size_phone) {
					margin-bottom: 0 !important;
				}
			}

			li.field_sublabel_below .ginput_complex {
    		@include media (max-width $screen_size_phone) {
    			margin-top: 2px !important;
    		}
    	}

    	.top_label div.ginput_container,
    	.top_label input.medium {
    		@include media (max-width $screen_size_phone) {
    			margin-top: 0 !important;
    		}
    	}

    	input[type=email],
    	input[type=number],
    	input[type=password],
    	input[type=tel],
    	input[type=text],
    	input[type=url] {
    		@include media (max-width $screen_size_phone) {
					padding: 5px 10px !important;
    		}
    	}

    	.gform_footer {
    		@include media (max-width $screen_size_phone) {
					padding: 0;
    		}

    		input[type=submit] {
    			@include media (max-width $screen_size_phone) {
						margin: 0 !important;
    			}
    		}
    	}
		}
	}
}


/*-------------------------------------------------------------------------------
	Jupiter Quick Contact and Back To Top
-------------------------------------------------------------------------------*/
.bottom-corner-btns {
	@include media (max-width $screen_size_phone) {
		position: relative;
    z-index: 9999;
	}

	#mk-quick-contact {
		@include media (max-width $screen_size_phone) {
			padding: 10px 12px 0;
		}
	}

	.mk-quick-contact-wrapper {
		p {
			@include media (max-width $screen_size_phone) {
				font-size: 16px;
    		line-height: 19px;
				margin-bottom: 10px;
			}
		}

		.text-input,
		.textarea {
			@include media (max-width $screen_size_phone) {
				margin-bottom: 5px;
				padding: 9px;
			}
    }

    .contact-form-message {
    	@include media (max-width $screen_size_phone) {
    		padding: 10px 0;
    	}
    }
	}
}


/*-------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/
.mk-header {
	.header-logo a img {
		border: 0;
	}

	.header-toolbar-contact {
		margin-left: 10px;
		margin-right: 0;
		float: right;
		position: relative;
		top: 3px;
	}
}


/*-------------------------------------------------------------------------------
	Home Page
-------------------------------------------------------------------------------*/
.home #mk-theme-container {

}


/*-------------------------------------------------------------------------------
	Blog Page
-------------------------------------------------------------------------------*/
.blog #mk-theme-container .mk-blog-thumbnail-item {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 30px;

	&:last-child {
		border: 0;
	}

	.item-wrapper {
		padding-top: 0;
	}

	&.no-thumb .item-wrapper {
		float: none;
		padding-left: 0;
		width: 100%;
	}

	.the-title {
		margin-top: 0;
	}
}


/*-------------------------------------------------------------------------------
	General Gravity Forms Styling
-------------------------------------------------------------------------------*/
#mk-theme-container .gform_wrapper {
	margin: 0;

	input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
		color: #313131 !important;
	}

	.ginput_container_creditcard {
		width: 40%;
	}

	.ginput_card_expiration_container {
		min-width: 300px !important;

		label {
			clear: both;
		}
	}

	.ginput_card_expiration {
		float: left;
		margin-right: 10px;
		min-width: auto;
		width: 130px !important;
	}

	// Field & Label Resets
	.gfield_label,
	.gfield,
	.ginput_container,
	.gform_footer,
	textarea,
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	input[type=search] {
    margin: 0 !important;
    padding: 0;
  }

  textarea,
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	input[type=search] {
		font-size: 17px !important;
	}

  .gfield_select {
  	font-size: 17px;
  	padding: 12px 12px 12px 12px !important;
  }

  .textarea {
  	padding: 10px;
  }

  .gfield {
  	margin-bottom: 10px !important;

  	&.gfield_error {
			background-color: transparent;
  		border: 0;
  		max-width: 100% !important;
  		position: relative;

  		.gfield_description {
  			bottom: -27px;
  			padding: 0;
  			position: absolute;
  		}
  	}
  }

	.gform_confirmation_wrapper {
		text-align: center;
		background: #92FB72;
		margin: 20px 0 0;
		padding: 50px;
		font-size: 20px;
	}

	.gform_button {
		@include button-style($first-bg: #000, $hover-bg: #333 !important, $border-radius: 0px, $color: #fff !important,  $font-size: 20px, $padding: 14px 15px !important, $text-transform: uppercase, $font-weight: 900, $letter-spacing: 0px);
		margin-top: 20px;

		&:hover {
			color: #000 !important;
		}
	}

	.gform_ajax_spinner {
		display: block !important;
		position: absolute;
		right: 140px;
		top: 0;
	}
}


/*-------------------------------------------------------------------------------
	Sidebar Blocks
-------------------------------------------------------------------------------*/
#mk-theme-container {
	/* Widgets */
	.widget_recent_entries {
		li {
			border-bottom: 1px solid #ccc;
			margin: 0 0 10px;
			padding: 0 0 10px;
		}

		li:last-child {
			border: 0;
		}

		li a {
			color: #333;
		}

		.post-date {
			font-style: italic;
		}
	}

	.widget {
		border-bottom: 1px dotted #CCC;
		margin-bottom: 20px;
		padding-bottom: 25px;

		.video-container {
			margin: 0;
		}
	}

	.widget:last-child {
		border-bottom: 0;
	}

	/* Archive List */
	.widget_jal_widget {
		.jaw_years,
		.jaw_months {
			list-style: none;
		}

		.jaw_years {
			margin: 0;
		}

		.jaw_posts {
			margin-left: 35px;
		}
	}

	.newsletter-signup {
		.mk-text-block * {
			color: #fff;
		}

		.gform_wrapper {
			.gfield_label {
				color: #fff;
			}
		}
	}

	.contact-block {
		.mk-text-block * {
			color: #fff;
		}

		.ubtn-ctn-center {
			margin-bottom: 0;
		}
	}

	.sidebar-wrapper {

	}
}


/*-------------------------------------------------------------------------------
	Footer
-------------------------------------------------------------------------------*/
#mk-footer {
	.footer-wrapper {

	}

	.mk-footer-copyright {

	}
}
