/*
body {
	background-color: #333;
}

.login h1 a {
  background-image: url('../images/circle-black-logo.svg');
}

.login .message {
	border-color: #d9272e;
}

.wp-core-ui .button.button-large {
	background-color: #d9272e;
	text-shadow: none;
  text-transform: uppercase;
  font-weight: 900;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
*/